.light-theme-about-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dark-theme-about-container {
  height: 100vh;
  display: flex;
  background-color: #000000;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about {
  width: 200px;
  margin-bottom: 20px;
}

.light-theme-about-heading {
  font-family: 'roboto';
  font-size: 45px;
  color: #1e293b;
}

.dark-theme-about-heading {
  font-family: 'roboto';
  font-size: 45px;
  color: #ffffff;
}
